body {
   
}
#introduction {
    color: white;
    line-height: 50px;
    font-size: 45px;
    padding-top: 200px;    
    text-align: center;
    background-image: url("h_img.jpg");
    background-size: cover;
    height:800px;
    width: 29em;
}
#int {
    font-size: 15px;
}
#about {
    text-align: center;
    line-height: 45px;
    margin-left: 100px;
}
#services {
    background-image: url("s_image.jpg");
    background-size: cover;
    text-align: center;
    line-height: 50px;
    padding-top: 110px;
    height: 400px;
    width: 1300px;
    color:white;
    
}

